.PageHeader {
    width: 100%;
    margin-bottom: 32px;
}

.PageErrorText {
    text-align: center;
    font-size: 1.8rem;
}

@media (min-width: 480px) {
    .PageHeader {
        max-width: 480px;
        margin: 0 auto 32px;
    }
}