.PageHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.PageHeader h1 {
    font-style: italic;
    font-size: 2.2rem;
    font-weight: 400;
}

.PageHeader h2 {
    text-align: center;
    font-size: 1.8rem;
}
