.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    @extend .flexCenter;
    gap: 16px;
}

.sectionInput {
    height: 40px;
    padding: 0 16px;
    border-radius: 80px;
    border: 1px solid #ccc;
    flex: 1;
}

.sectionInput:focus {
    outline: none;
}

.buttonContainer {
    width: 50px;
}