@use 'variables';

.sectionTextarea {
    width: 100%;
    padding: 8px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-family: inherit;
}

.sectionButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sectionCheckContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.checkContainerText {
    font-size: variables.$text-lg;
}

.buttonContainerButton {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
}