@mixin icon ($iconColor) {
    font-size: 2.6rem;
    color: $iconColor;
    cursor: pointer;
}

.addIcon {
    @include icon(gray);
}

.checkIcon {
    @include icon(orange);
}

.checkIconDone {
    @include icon(green);
}

.editIcon {
    @include icon(gray);
}

.saveIcon {
    @include icon(blue);
}

.deleteIcon {
    @include icon(red);
}