.flexContainer {
    display: flex;
}

.article {
    @extend .flexContainer;
    justify-content: space-between;
}

.articleLeftContainer {
    @extend .flexContainer;
    align-items: center;
}

.articleRightContainer {
    @extend .flexContainer;
    gap: 20px;
}

.articleText {
    font-size: 1.4rem;
    overflow-wrap: anywhere;
    margin: 0 20px;
}