.section {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.input {
    padding: 4px 12px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.input:focus {
    outline: none;
}

.button {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 2px 8px;
    border-radius: 10px;
}